<?xml version="1.0"?>
<!--
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @author    Vadim Justus <v.justus@techdivision.com>
 * @copyright 2019 TechDivision GmbH <info@techdivision.com>
 * @license   http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 * @link      https://github.com/techdivision/import-cli-simple
 * @link      http://www.techdivision.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Firegento\ContentProvisioning\Virtual\Config\Parser\PageParserChain">
        <arguments>
            <argument name="parser" xsi:type="array">
                <item name="page_designer_json" xsi:type="object">TechDivision\PageDesignerContentProvisioning\Model\Config\Parser\PageDesignerJsonParser</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Firegento\ContentProvisioning\Virtual\Config\Parser\BlockParserChain">
        <arguments>
            <argument name="parser" xsi:type="array">
                <item name="page_designer_json" xsi:type="object">TechDivision\PageDesignerContentProvisioning\Model\Config\Parser\PageDesignerJsonParser</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Firegento\ContentProvisioning\Model\Config\Parser\Query\FetchMediaFilesChain">
        <arguments>
            <argument name="parsers" xsi:type="array">
                <item name="base64_content_media" xsi:type="object">TechDivision\PageDesignerContentProvisioning\Model\Config\Parser\Query\FetchMediaFromEncodedContents</item>
            </argument>
        </arguments>
    </type>

    <type name="TechDivision\PageDesignerContentProvisioning\Model\Config\Parser\Query\FetchMediaFromEncodedContents">
        <arguments>
            <argument name="parsers" xsi:type="array">
                <item name="media_directive" xsi:type="object">Firegento\ContentProvisioning\Model\Config\Parser\Query\Media\MediaDirectiveFileParser</item>
            </argument>
        </arguments>
    </type>

    <!-- This preference seems to be missing in the current firegento/magento2-content-provisioning implementation -->
    <preference for="Firegento\ContentProvisioning\Api\MediaFilesParserInterface" type="Firegento\ContentProvisioning\Model\Config\Parser\Query\FetchMediaFilesChain" />
</config>
